# Deny every file
*

# Conda
!/environment.yml

# Add python files
!/pyproject.toml
!/py_src/**/*.py

# Add rust files
!/build.rs
!/Cargo.toml
!/Cargo.lock
!/LICENSE
!/README.md
!/rust-toolchain.toml
!/src/**/*.rs
