#IDE
.zed/
.vscode/
!.vscode/extensions.json

# General
tmp/
*.tmp
/*.toml
logs/
/test_results

# Comet
*.params

# Rust & Cargo files
/target
/Cargo.lock
!Cargo.toml
!rust-toolchain.toml

# OS
.DS_Store
