profiles {
    docker {
        docker.enabled = true
        docker.runOptions = "--user=root"
        docker.fixOwnership = true
    }
    // Should only be used if you need access to the host network e.g. for development when your MaCPepDB is running on the localhost 
    dockerhostnetwork {
        docker.enabled = true
        docker.runOptions = "--user=root"
        docker.fixOwnership = true
        process.containerOptions = '--network host'
    }
}
